<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Secrets</title>
    </head>
    <body>
        <h1>Hello {{user_name}}!</h1>

        <form action="/post" method="post">
            {% csrf_token %}
            <textarea cols= 50 rows= 8 name='secret'></textarea><br>
            <input type="submit" value="Post" >  <a href= "{%  url 'mostpopular' %}"> Most Popular Secrets </a>
        </form>
        <p><a href='/logout'> Logout </a></p>

        <h1>Recent Secrets...</h1>

        {{request.session.login_user_id}} ---   {{request.session.login_user}}

        {% for secret in secrets %}
            <p>{{secret.secret}} -- ( {{secret.created_at}} )  {{secret.id}}---  {{secret.like}} <a href= "{%  url 'like' secret_id=secret.id %}"> Like </a> </p>
            {% for like in likes %}
                {% if like.user.id == request.session.login_user_id and like.secret.id == secret.id %}
                <p>You liked this post</p>
                {% endif %}
            {% endfor %}



        {% endfor %}












    </body>
</html>
